<!DOCTYPE HTML>
<html>
    <head>
      <meta charset="UTF-8">
        <link rel="stylesheet" href="https://venicteam.github.io/main.css">
      
        <link rel="icon" href="https://venicteam.github.io/logo.png">
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title> Voice Enabled Intelligent Programming Assistant | Feeds </title> 
    </head>
    <body>

      
    <script>
         fetch('https://api.github.com/repos/venicteam/core/releases/latest')
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            let release_name = data.name;
            let html_url = data.html_url;
            release.innerHTML = `<a href='${html_url}'>${release_name}</a>`;
          });
    </script>
      
    <main>

      

        <nav>
          
            <a href="https:&#x2F;&#x2F;venicteam.github.io">
            <img src="https://venicteam.github.io/logo.png" alt="" />
                </a>
            
            
          

          
            <div id="release"></div>
          
  
  <a href="javascript:void(0);" onclick="burger()" id="mobile" class="ms-Icon--GlobalNavButton"></a>
    <div id="trees">
               
            
                 
            
 
        <input class="tree-toggle" type="checkbox" id="getting-started" 
         />
        <label class="tree-toggle-label" for="getting-started">Getting Started</label>
                        
        <ul class="subtree">
                
                                <li >
                                    <a href="https://venicteam.github.io/getting-started/overview/">Overview</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/getting-started/installation/">Installation</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/getting-started/cli-usage/">CLI usage</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/getting-started/directory-structure/">Directory structure</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/getting-started/configuration/">Configuration</a>
                                </li>



                   
    
    
    </ul>         
    
                 
            
 
        <input class="tree-toggle" type="checkbox" id="content" 
         />
        <label class="tree-toggle-label" for="content">Content</label>
                        
        <ul class="subtree">
                
                                <li >
                                    <a href="https://venicteam.github.io/content/overview/">Overview</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/section/">Section</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/page/">Page</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/shortcodes/">Shortcodes</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/linking/">Internal links &amp; deep linking</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/table-of-contents/">Table of Contents</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/content/syntax-highlighting/">Syntax Highlighting</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/content/taxonomies/">Taxonomies</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/search/">Search</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/sass/">Sass</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/content/multilingual/">Multilingual sites</a>
                                </li>



                   
    
    
    </ul>         
    
                 
            
 
        <input class="tree-toggle" type="checkbox" id="templates" 
        checked />
        <label class="tree-toggle-label" for="templates">Templates</label>
                        
        <ul class="subtree">
                
                                <li >
                                    <a href="https://venicteam.github.io/templates/overview/">Overview</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/templates/pages-sections/">Sections and Pages</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/templates/pagination/">Pagination</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/templates/taxonomies/">Taxonomies</a>
                                </li>



                   
    
    
                                <li class="active">
                                    <a href="https://venicteam.github.io/templates/feeds/">Feeds</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/templates/sitemap/">Sitemap</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/templates/robots/">Robots.txt</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/templates/404/">404 error page</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/templates/archive/">Archive</a>
                                </li>


    
    </ul>         
    
                 
            
 
        <input class="tree-toggle" type="checkbox" id="themes" 
         />
        <label class="tree-toggle-label" for="themes">Themes</label>
                        
        <ul class="subtree">
                
                                <li >
                                    <a href="https://venicteam.github.io/themes/overview/">Overview</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/themes/installing-and-using-themes/">Installing &amp; using themes</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/themes/creating-a-theme/">Creating a theme</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/themes/extending-a-theme/">Extending a theme</a>
                                </li>



                   
    
    
    </ul>         
    
                 
            
 
        <input class="tree-toggle" type="checkbox" id="deployment" 
         />
        <label class="tree-toggle-label" for="deployment">Deployment</label>
                        
        <ul class="subtree">
                
                                <li >
                                    <a href="https://venicteam.github.io/deployment/overview/">Overview</a>
                                </li>


    
                                <li >
                                    <a href="https://venicteam.github.io/deployment/netlify/">Netlify</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/deployment/github-pages/">GitHub Pages</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/deployment/gitlab-pages/">GitLab Pages</a>
                                </li>



                   
    
    
                                <li >
                                    <a href="https://venicteam.github.io/deployment/vercel/">Vercel</a>
                                </li>



                   
    
    
    </ul>         
    
    </div>    
  </nav>
    

<article>
 
  
  <div id="on_right">
    <span id="search-ico" class="ms-Icon--Search"></span>
  </div>
    <div class="search-container">
          <input id="search" type="search" placeholder="Search as you type...">
            <div class="search-results">
              <div class="search-results__header"></div>
                <ul class="search-results__items"></ul>
              </div>
    </div>
         

  <div id="wrap">
    
        <p>If the site <code>config.toml</code> file sets <code>generate_feed = true</code>, then Zola will
generate a feed file for the site, named according to the <code>feed_filename</code>
setting in <code>config.toml</code>, which defaults to <code>atom.xml</code>. Given the feed filename
<code>atom.xml</code>, the generated file will live at <code>base_url/atom.xml</code>, based upon the
<code>atom.xml</code> file in the <code>templates</code> directory, or the built-in Atom template.</p>
<p><code>feed_filename</code> can be set to any value, but built-in templates are provided
for <code>atom.xml</code> (in the preferred Atom 1.0 format), and <code>rss.xml</code> (in the RSS
2.0 format). If you choose a different filename (e.g. <code>feed.xml</code>), you will
need to provide a template yourself.</p>
<p><strong>Only pages with a date will be available.</strong></p>
<p>The feed template gets five variables:</p>
<ul>
<li><code>config</code>: the site config</li>
<li><code>feed_url</code>: the full url to that specific feed</li>
<li><code>last_updated</code>: the most recent <code>updated</code> or <code>date</code> field of any post</li>
<li><code>pages</code>: see <a href="https://venicteam.github.io/templates/pages-sections/#page-variables">page variables</a>
for a detailed description of what this contains</li>
<li><code>lang</code>: the language code that applies to all of the pages in the feed,
if the site is multilingual, or <code>config.default_language</code> if it is not</li>
</ul>
<p>Feeds for taxonomy terms get two more variables, using types from the
<a href="https://venicteam.github.io/templates/taxonomies/">taxonomies templates</a>:</p>
<ul>
<li><code>taxonomy</code>: of type <code>TaxonomyConfig</code></li>
<li><code>term</code>: of type <code>TaxonomyTerm</code>, but without <code>term.pages</code> (use <code>pages</code> instead)</li>
</ul>
<p>You can also enable separate feeds for each section by setting the
<code>generate_feed</code> variable to true in the respective section's front matter.
Section feeds will use the same template as indicated in the <code>config.toml</code> file.
Section feeds, in addition to the five feed template variables, get the
<code>section</code> variable from the <a href="https://venicteam.github.io/templates/pages-sections/">section template</a>.</p>
<p>Enable feed autodiscovery allows feed readers and browsers to notify user about a RSS or Atom feed available on your web site. So it is easier for user to subscribe.
As an example this is how it looks like using <a href="https://en.wikipedia.org/wiki/Mozilla_Firefox">Firefox</a> <a href="https://addons.mozilla.org/en-US/firefox/addon/livemarks/?src=search">Livemarks</a> addon.</p>
<p><img src="https://venicteam.github.io/templates/feeds/rss_feed.png" alt="RSS feed autodiscovery example." /></p>
<p>You can enable posts autodiscovery modifying your blog <code>base.html</code> template adding the following code in between the <code>&lt;head&gt;</code> tags.</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% block rss %}
</span><span>  &lt;</span><span style="color:#bf616a;">link </span><span style="color:#d08770;">rel</span><span>=&quot;</span><span style="color:#a3be8c;">alternate</span><span>&quot; </span><span style="color:#d08770;">type</span><span>=&quot;</span><span style="color:#a3be8c;">application/rss+xml</span><span>&quot; </span><span style="color:#d08770;">title</span><span>=&quot;</span><span style="color:#a3be8c;">RSS</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ get_url(path=</span><span>&quot;</span><span style="color:#d08770;">rss.xml</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span style="color:#d08770;">, trailing_slash</span><span>=</span><span style="color:#a3be8c;">false) </span><span style="color:#d08770;">}}</span><span style="background-color:#bf616a;color:#eff1f5;">&quot;</span><span>&gt;
</span><span>{% endblock %}
</span></code></pre>
<p>You can as well use an Atom feed using <code>type=&quot;application/atom+xml&quot;</code> and <code>path=&quot;atom.xml&quot;</code>.</p>
<p>All pages on your site will refer to your post feed.</p>
<p>In order to enable the tag feeds as well, you can overload the <code>block rss</code> using the following code in your <code>tags/single.html</code> template.</p>
<pre data-lang="html" style="background-color:#eff1f5;color:#4f5b66;" class="language-html "><code class="language-html" data-lang="html"><span>{% block rss %}
</span><span>  {% set rss_path = &quot;tags/&quot; ~ term.name ~ &quot;/rss.xml&quot; %}
</span><span>  &lt;</span><span style="color:#bf616a;">link </span><span style="color:#d08770;">rel</span><span>=&quot;</span><span style="color:#a3be8c;">alternate</span><span>&quot; </span><span style="color:#d08770;">type</span><span>=&quot;</span><span style="color:#a3be8c;">application/rss+xml</span><span>&quot; </span><span style="color:#d08770;">title</span><span>=&quot;</span><span style="color:#a3be8c;">RSS</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{/* get_url(path=rss_path, trailing_slash=false) */}}</span><span>&quot;&gt;
</span><span>{% endblock rss %}
</span></code></pre>
<p>Each tag page will refer to it's dedicated feed.</p>

    
  </div>

</article>
</main>

  
  <script type="text/javascript" src="https://venicteam.github.io/elasticlunr.min.js" defer></script>
  <script type="text/javascript" src="https://venicteam.github.io/search_index.en.js" defer></script>
  <script type="text/javascript" src="https://venicteam.github.io/js.js" defer></script>
  

</body>
</html>
